products.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="products">
    <xs:complexType>
    <xs:sequence>
    <xs:element name="product" maxOccurs="unbounded">
    <xs:complexType>
    <xs:sequence>
    <xs:element name="productname" type="xs:string"></xs:element>
    <xs:element name="productrating" type="xs:integer"></xs:element>
    <xs:element name="productprice" type="xs:integer"></xs:element>
    </xs:sequence>
    </xs:complexType>
    </xs:element>
    </xs:sequence>
    </xs:complexType>
        
    </xs:element>
</xs:schema>